<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-theme.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    </head>
    <body background="{{ asset('image/background.jpg') }}">
        <div class="dashboard">
            <a href="{{ path('card_view') }}">Карточка покупателя</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('user_create') }}">Создание нового пользователя</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('action_list') }}">Акции</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('restriction_list') }}">Ограничения</a>
        </div>
        <div class="dashboard">
            <a href="">Магазины</a>
        </div>
        <div class="dashboard">
            <a href="">Отчеты</a>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
