{% extends 'base.html.twig' %}

{% block body %}
    <div class="title_page">
        <h1>Создание нового пользователя</h1>
    </div>
    <form action="{{ path('user_create') }}" method="post">
        {{ form_start(form) }}
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Роль</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.role) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Фамилия</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.second_name) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Имя</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.first_name) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Отчество</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.middle_name) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Логин</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.login) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Пароль</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.password) }}
            </section>
        </div><div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Email</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.email) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Пол</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.gender) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Дата рождения</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.birthday) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <h4 style="color: whitesmoke;">Подписка на рассылки</h4>
            </section>
            <section class="col col-lg-2">
                {{ form_row(form.is_distribution) }}
            </section>
        </div>
        <div class="row">
            <section class="col col-lg-2 text-right">
                <input class="btn btn-info" type="submit" value="Создать">
            </section>
        </div>
        {{ form_end(form) }}
    </form>
{% endblock %}